<ul class="show-list ch-list">
  {{# each products as |prod|}}
    <li class="result-items">
      <article class="">
        <a href="/items/{{prod.id}}" title="{{prod.title}}">
          <figure>
            <img src="{{prod.thumbnail}}" alt="{{prod.title}}" title="{{prod.title}}">
          </figure>
          </a>
          <div class="card">
            <div class="price">$ {{prod.price}}</div>
            <h2 class="title">
              <a href="/items/{{prod.id}}">{{prod.title}}</a>
            </h2>
            <small>{{seller_address.state.name}}</small>
          </div>
            {{#if prod.shipping.free_shipping}}
            <div class="free-shipping">
              Envío gratis
              <span class="ch-icon-truck"></span>
            </div>
            {{/if}}
      </article>
    </li>
  {{/each}}
</ul>
