<article class="show-result">
  <div class="bread-nav">
    <ul class="breadcrumb-list">
       <li>
          <span>
            Path
          </span>
          <i class="ch-icon-chevron-right"></i>
       </li>
       <li>
         <span>
           for
         </span>
         <i class="ch-icon-chevron-right"></i>
       </li>
       <li>
         <span>
           {{titlePdp}}
         </span>
       </li>
    </ul>
  </div>
  <figure class="">
    <div id="dm_crs_df">
      <ul>
        {{# each pictures as |pic|}}
          {{#if @first}}
            <li>
              <img id="{{pic.id}}" src="{{pic.url}}" title="{{../titlePdp}}" alt="{{../titlePdp}}">
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </figure>
  <div class="buy-box">
    <h1 class="title">
      {{titlePdp}}
    </h1>
    <div class="price">$ {{price}}</div>
    <div class="rate">
      <span class="ch-icon-star full"></span>
      <span class="ch-icon-star full"></span>
      <span class="ch-icon-star full"></span>
      <span class="ch-icon-star"></span>
      <span class="ch-icon-star"></span>
    </div>
    {{#if freeShipping}}
      <div class="free-shipping">
        <span class="ch-icon-truck"></span>
        Envío gratis
      </div>
    {{/if}}
    <input id="buy-btn" type="button" class="ch-btn" title="{{titlePdp}}" value="Comprar" />
    <hr>
  </div>
  <div class="description">
    <h2>
      <i class="ch-icon-th-list"></i>
      Descripción del producto
    </h2>
    <p>{{{descriptionPlainTxt}}}</p>
    <img src="{{descriptionSnapshotUrl}}" alt="{{titlePdp}}" title="{{titlePdp}}">
  </div>
</article>
